
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*General clases*/
.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

/*Header*/

.webstudio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .webstudio-logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .webstudio-logo {
    margin-right: 76px;
  }
}

.logo-studio {
  color: #2e2f42;
}

.page-header {
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  display: flex;
  border: none;
  background-color: transparent;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.nav-list {
  display: none;
}

.address-logo {
  display: none;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .nav-list,
  .address-logo {
    display: flex;
  }
}

.page-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.02em;
  position: relative;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.nav-studio {
  color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}

.nav-studio::after {
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .nav-link {
    display: block;
  }
  .contacts-ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  nav a {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .address-list {
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-size: 12px;
    text-decoration: none;
    color: #434455;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  .address-list:hover,
  .address-list:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .contacts-ul {
    flex-direction: row;
    gap: 40px;
  }
  .address-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*mobile menu*/

.mobile-container {
  position: relative;
  padding: 72px 16px 40px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-btn .icon {
  fill: #2e2f42;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.mobile-close-btn:hover,
.mobile-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-close-btn:hover .icon,
.mobile-close-btn:focus .icon {
  fill: #fff;
}
.mobile-nav {
  margin-bottom: auto;
}
.mobile-addres {
  margin-bottom: 48px;
}

.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.mobile-li {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-li:hover,
.mobile-li:focus {
  color: #404bbf;
}

.mobile-li.studio {
  color: #404bbf;
}

.mobile-addres-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}

.mobile-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts:hover,
.mobile-contacts:focus {
  color: #4d5ae5;
}

.media-mobile-ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.mobile-media-li {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-link {
  fill: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*section1 Hero*/
.section-one {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
}

@media (min-resolution: 192dpi) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-mobile-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-one {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-oneo {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-one {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-maine-page-1x.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-main-page-2x.jpg);
  }
}

.section-one-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 216px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .section-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1158px) {
  .section-title {
    max-width: 496px;
    margin-bottom: 48px;
  }
}

.btn-order {
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
}

/*section2 Features*/

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.feature-text {
  font-weight: 500;
}

@media screen and (min-width: 1158px) {
  .feature-text {
    font-weight: 400;
  }
}

.feature-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}




.feature-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .feature-icon {
    display: flex;
  }
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
}

.feature-svg {
  margin: 24px 100px;
}

/*Section3*/

.team-section {
  background-color: #f4f4fd;
}

.dscr {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 32px 0;
}

.section-title-three {
  text-align: center;
}

.our-team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.team-li {
  width: 40px;
  height: 40px;
}

.team-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.team-a:hover,
.team-a:focus {
  background-color: #404bbf;
}

.team-svg {
  fill: #f4f4fd;
}

.our-team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  overflow: hidden;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .our-team-item {
    width: calc((100% - 72px) / 4);
  }
}


/*Section4 Portfolio*/

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    row-gap: 72px;
  }
}

.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}

.name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background-color: #fff;
}

.div-inside {
  position: relative;
  overflow: hidden;
}

.text-p {
  color: #f4f4fd;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}

.portfolio-item:hover .text-p {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1158px) {
  .text-p {
    display: block;
  }
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}


/*Footer*/

.footer-cub {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .footer-cub {
    padding: 100px 0;
  }
}

.footer-cub span {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0;
}

.text-madia {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-li {
  width: 40px;
  height: 40px;
}

.text-madia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-a:hover,
.footer-a:focus {
  background-color: #31d0aa;
}

.subscribe-p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
 
}

.subscribe-email {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .subscribe-email {
    width: 264px;
  }
}

.subscribe-email::placeholder {
  color: #ffffff;
}

.button-subscribe {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-subscribe {
  margin-left: 16px;
  
}

.button-subscribe:hover {
  background-color: #404bbf;
}

.div-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .div-footer {
    padding: 0 108px;
  }
}

.div-footer-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .div-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }
  .div-footer-inside {
    display: block;
    margin-right: 24px;
  }
  .footer-media {
    display: block;
  }
}

@media screen and (min-width: 1158px) {
  .div-footer {
    flex-wrap: nowrap;
  }
  .div-footer-inside {
    margin-right: 120px;
  }
  .footer-media {
    margin-right: 80px;
  }
}

.div-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .div-subscribe {
    align-items: start;
  }
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    align-items: start;
    gap: 24px;
  }
}

.footer-svg {
   fill: #f4f4fd;
}


/*Modal window*/

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active,
.is-open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.modal-window {
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-window {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-sv {
  fill: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-btn .modal-sv {
  fill: #2e2f42;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.div-form {
  margin-bottom: 8px;
}

.modal-label {
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.div-input {
  position: relative;
}

.modal-input {
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-svg {
  fill: #4d5ae5;
}

.input-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:focus {
  border-color: #4d5ae5;
}

.div-text-wrap {
  margin-bottom: 16px;
}

.checkbox-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox-input {
  cursor: pointer;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  background-color: transparent;
  margin-right: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}

.modal-form input[type='checkbox']:checked + label .checkbox-span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.checkbox-btn {
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  min-width: 169px;
  cursor: pointer;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.checkbox-btn:hover,
.checkbox-btn:focus {
  background-color: #404bbf;
}